.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 880px;
    min-width: 282px;
    padding-top: 3%;
}

.header__title {
    max-width: 173px;
    width: 100%;
}

.header__line {
    width: 100%;
    color: #545454;
    margin: 5% 0 0;
    opacity: 30%;
}

@media screen and (max-width: 1024px) {
    .header {
        max-width: 580px;
        width: 100%;
    }
}

@media screen and (max-width: 590px) {
    .header {
        max-width: 282px;
        width: 100%;
    }
}