.popup {
    background-color: rgba(0, 0, 0, .5);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;

}

.popup__visible {
    visibility: visible;
}

.popup__container {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 25px #000;
    max-width: 430px;
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.popup__images-container {
    background-color: transparent;
    border-style: none;
    box-shadow: none;
}

.popup__title {
    color: #000;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    padding-top: 34px;
    padding-left: 35px;
    padding-bottom: 54px;
    margin: 0;
}

.popup__input {
    margin: 0 35px 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #c4c4c4;
    color: #000;
    height: 27px;
}

.popup__button {
    margin: 0 35px 35px;
    height: 50px;
    color: #fff;
    background-color: #000;
}

.popup__content {
    width: 90%;
    height: 90%;
    box-shadow: 0 0 25px #000;
}

.popup__paragraph {
    color: rgba(255, 255, 255, 0.6);
    width: 291px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.popup__close {
    position: absolute;
    top: -4vh;
    right: -3vw;
    margin: 0;
}

.popup__close-button:hover {
    opacity: 50%;
}

.popup__save-button {
    background-color: #000;
    color: #fff;
}

.popup__button_disabled {
    background-color: #c4c4c4;
}
.popup__input_type_error {
    border-bottom-color: red;
}

.popup__error {
    margin: 0 35px 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    display: none;
}

.popup__error_visible {
    display: block;
}

@media screen and (max-width: 580px) {
    .popup__close-button {
        width: 95%;
        max-width: 25px;    }
}